
.myfooter {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
<<<<<<<<< Temporary merge branch 1
    text-align: center;
} */
=========
    padding-top: 5%;
    /* text-align: center; */
}
>>>>>>>>> Temporary merge branch 2
